<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pa.ac.utp.salud_app">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/saludaicono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/saludaicono"
        android:supportsRtl="true"
        android:theme="@style/Theme.Salud_App">

        <!-- Splash: punto de entrada -->
        <activity
            android:name="pa.ac.utp.salud_app.Splash"
            android:exported="true"
            android:theme="@style/Theme.Salud_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú principal -->
        <activity
            android:name="pa.ac.utp.salud_app.MainActivity"
            android:exported="false" />

        <!-- Calcular (existente) -->
        <activity
            android:name="pa.ac.utp.salud_app.Calcular"
            android:exported="false" />

        <!-- Módulos -->
        <activity
            android:name="pa.ac.utp.salud_app.ModuloPeso"
            android:exported="false" />

        <activity
            android:name="pa.ac.utp.salud_app.ModuloPresion"
            android:exported="false" />

        <activity
            android:name="pa.ac.utp.salud_app.ModuloGlucosa"
            android:exported="false" />

        <activity
            android:name="pa.ac.utp.salud_app.ModuloAgua"
            android:exported="false" />

        <activity
            android:name="pa.ac.utp.salud_app.ModuloMedicina"
            android:exported="false" />

        <activity
            android:name="pa.ac.utp.salud_app.ModuloActividad"
            android:exported="false" />

    </application>

</manifest>
